 /* GENERAL RESET */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
    }

    body {
     background-color: black;
      min-height: 100vh;
      color: white;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
    }

    footer {
      margin-top: auto;
      padding: 20px;
      text-align: center;
      font-size: 0.9rem;
      color: #777;
      border-top: 1px solid #333;
      width: 100%;
      animation: fadeIn 2s ease;
    }